body{
    background-image: url("img/background-image-repeater");
    background-size: 100% auto;
}

.website{
    height: 3000px;
}

.bekijk-afspraak{
    width: 100%;
    height: 90%;
}

.reserveer-werkplek{
    width: 100%;
    height: 80%;
}

.image-logo{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25vh;
}

.image-logo img{
    height: 100%
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid img{
    width: 100%;
}

.frontpage{
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: 1;
}




body{
    background-image: url("img/background-image-repeater");
    background-size: 100% auto;

}

.website{
    height: 3000px;
}

.bekijk-afspraak{
    width: 100%;
    height: 100%;
}

.reserveer-werkplek{
    width: 100%;
    height: 100%;
}

.image-logo{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25vh;
}

.image-logo img{
    height: 100%
}

.grid{
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid img{
    width: 100%;
}

.frontpage{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}

h1 {
    color: white;
    font-size: 50px;
}

.image-map {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

